/* Background Full Page */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #323232, #20100e);
  padding: 20px;
}

/* Card */
.auth-card {
  background: #5f605b;
  width: 380px;
  padding: 40px 30px;
  border-radius: 14px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.45);
  text-align: center;
}

/* Title */
.auth-title {
  color: #b7622c;
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: 600;
}

/* Form */
.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Inputs */
.auth-input {
  padding: 13px 14px;
  background: #323232;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
}

.auth-input::placeholder {
  color: #aaa;
}

/* Button */
.auth-btn {
  background: #923b1b;
  border: none;
  padding: 14px 0;
  color: #fff;
  font-size: 17px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-btn:hover {
  background: #b7622c;
}

/* Redirect */
.auth-redirect {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
}

.auth-redirect span {
  color: #b7622c;
  cursor: pointer;
  font-weight: 600;
}

/*   RESPONSIVENESS BREAKS  */

/* 1024px - Small laptop/tablet landscape */
@media (max-width: 1024px) {
  .auth-card {
    width: 420px;
    padding: 35px 28px;
  }
  .auth-title {
    font-size: 26px;
  }
}

/* 768px - Tablets portrait */
@media (max-width: 768px) {
  .auth-card {
    width: 360px;
    padding: 32px 25px;
  }
  .auth-title {
    font-size: 24px;
  }
  .auth-btn {
    font-size: 16px;
  }
}

/* 480px - Mobile */
@media (max-width: 480px) {
  .auth-container {
    padding: 12px;
  }

  .auth-card {
    width: 100%;
    padding: 28px 18px;
  }

  .auth-title {
    font-size: 22px;
  }

  .auth-input {
    padding: 12px;
    font-size: 14px;
  }

  .auth-btn {
    padding: 12px;
    font-size: 15px;
    border-radius: 8px;
  }

  .auth-redirect {
    font-size: 13px;
  }
}
